[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "external/repo"]
	path = external/repo
	url = https://github.com/google/googletest.git
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = ../../google/googletest.git
[submodule "external/googletest"]
	path = external/googletest
	url = ../../google/googletest.git
[submodule "external/gTest"]
	path = external/gTest
	url = https://github.com/google/googletest.git
